{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div class="content-container">
		{% for flashError in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flashError }}</div>
		{% endfor %}

		<h1 class="mg-top-xl mg-bottom-xl">Inscription</h1>
		<div class="form-container">
			{{ form_start(registrationForm) }}
				<div class="row">
					{{ form_row(registrationForm.email) }}
				</div>
				<div class="row">
					{{ form_row(registrationForm.username) }}
				</div>
				<div class="row">
					{{ form_row(registrationForm.plainPassword.first) }}
				</div>
				<div class="row">
					{{ form_row(registrationForm.plainPassword.second) }}
				</div>
				<div class="row mg-top-l">
					<button type="submit" class="btn green-success">Inscription</button>
				</div>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
