{% extends 'base.html.twig' %}

{% block title %} Editer la figure
{% endblock %}

{% block body %}

<div class="content-container">
	<div class="header-figure" style="background-image: url({{ asset("uploads/" ~ figure.images|first) }});">
		<h1 class="mg-bottom-xl center txt-white">Nom de la figure</h1>
	</div>
	{% if figure.images|length >= 1 or figure.videos|length >= 1 %}
		<div class="medias-box">
			{% for image in figure.images %}
				<div class="media-container">
					<img src="{{ asset("uploads/" ~ image) }}" alt="image">
					<a href="{{ path('figure_delete_image', {id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}" >Supprimer</a>
				</div>
			{% endfor %}
			{% for video in figure.videos %}
				<div class="media-container">
					<video controls width="250">
						<source src="{{video.url}}" type="video/webm">
					</video>
				</div>
			{% endfor %}
		</div>
	{% endif %}

	<div class="content-container">
		{% for flashError in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flashError }}</div>
		{% endfor %}

		<div class="form-container width-80 text-align-left">
			{{ form_start(form) }}
				<div class="row form-fig-name">
					{{ form_widget(form.name, {'attr': {'placeholder': "Nom de la figure"}}) }}
				</div>
				<div class="row form-fig-description">
          {{ form_widget(form.description, {'attr': {'placeholder': "Description"}}) }}
				</div>
				<div class="row form-fig-type">
          {{ form_widget(form.type) }}
				</div>
				<div class="row form-fig-type">
          {{ form_widget(form.images) }}
				</div>
				<div class="row form-fig-button">
          {{ form_widget(form.save) }}
				</div>
			{{ form_end(form) }}
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/images.js') }}"></script>
{% endblock %}