{% extends 'base.html.twig' %}

{% block title %} Nouvelle figure
{% endblock %}

{% block body %}

<div class="content-container">
	<div class="header-figure">
		<h1 class="mg-bottom-xl center txt-white">Nom de la figure</h1>
		<img src="{{ asset('images/default_picture.jpeg') }}" alt="banner figure" id="banner-figure">
	</div>

	<div class="content-container">
		{% for flashError in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flashError }}</div>
		{% endfor %}

		<div class="form-container text-align-left">
			{{ form_start(form) }}
				<div class="row form-fig-name">
					{{ form_widget(form.name, {'attr': {'placeholder': "Nom de la figure"}}) }}
				</div>
				<div class="row form-fig-description">
          {{ form_widget(form.description, {'attr': {'placeholder': "Description"}}) }}
				</div>
				<div class="row form-fig-type">
          {{ form_widget(form.type) }}
				</div>
				<div class="row form-fig-type">
          {{ form_widget(form.images) }}
				</div>
				<div class="row form-fig-type">
          {{ form_widget(form.videos) }}
				</div>
				<div class="row form-fig-button">
          {{ form_widget(form.save) }}
				</div>
			{{ form_end(form) }}
		</div>
	</div>
</div>
{% endblock %}