{% extends 'base.html.twig' %}

{% block title %}SnowTricks figure
{% endblock %}

{% block body %}

<div class="content-container">
	<div class="header-figure" style="background-image: url({{ asset("uploads/" ~ figure.images|first) }});">
		<div class="figure-actions">
			{% if app.user %}
				{% if app.user.id == figure.user.id %}
					<div class="figure-link pd-xs">
						<a href="/figures/{{figure.id}}/{{ figure.slug }}/edit"><img src="{{ asset('png/pencil-solid.svg') }}" alt="edit figure"></a>
					</div>
					<div class="figure-link pd-xs">
						<a href="/figures/{{figure.id}}/{{ figure.slug }}/delete"><img src="{{ asset('png/trash-can-solid.svg') }}" alt="delete figure"></a>
					</div>
				{% endif %}
			{% endif %}
		</div>
		<h1 class="mg-bottom-xl center txt-white">{{ figure.name }}</h1>
	</div>
	{% if figure.images|length >= 1 or figure.videos|length >= 1 %}
		<div class="medias-box">
			{% for image in figure.images %}
				<div class="media-container">
					<img src="{{ asset("uploads/" ~ image) }}" alt="figure image">
				</div>
			{% endfor %}
			{% for video in figure.videos %}
				<div class="media-container">
					<video controls width="250">
						<source src="{{video.url}}" type="video/webm">
					</video>
				</div>
			{% endfor %}
		</div>
	{% endif %}

	<div class="figure-details">
		<div class="figure-description">
			<p>{{ figure.description }}</p>
		</div>
		<ul class="info-list">
			<li>
				<p>Type: {{ figure.type.title }}</p>
			</li>
			<li>
				<p>Auteur: {{ figure.user.firstName }}</p>
			</li>
		</ul>
	</div>

	<div class="message-container">
		{% if app.user %}
			<div class="new-message-box">
				{{ include('partials/_new_edit_message.html.twig') }}
			</div>
		{% endif %}

		{% if messages %}
			<div class="messages">
				{% for message in messages %}
					<div class="message-box">
						<div class="user-profil">
							<img class="user-picture" src="{{ message.user.photo }}" alt="photo de profil">
							<div class="user-data">
								<p>{{ message.user.fullname }} </p>
								<p>{{ message.createdAt }} </p>
							</div>
						</div>
						<div class="message">
							<div class="message-content">
								<p>{{ message.content }}</p>
							</div>
							{% if app.user %}
								{% if user.id == message.user.id %}
									<div class="message-delete pd-xs">
										<a href="/figures/{{ figure.id }}/{{ figure.slug }}/message/{{ message.id }}/delete"><img src="{{ asset('png/trash-can-solid.svg') }}" alt="delete message"></a>
									</div>
								{% endif %}
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
</div>

{% endblock %}
