{% extends 'base.html.twig' %}

{% block title %}SnowTricks figure
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Figure</h1>
		{% if user.id == figure.user.id %}
			<a href="/figures/{{figure.id}}/{{ figure.slug }}/edit">Editer la figure</a>
			<h2><a href="/figures/{{ figure.id }}/{{ figure.slug }}/delete">Supprimer la figure</a></h2>
		{% endif %}
		<ul>
				<li>
					<h2>{{ figure.name }}</h2>
					<p>{{ figure.description }}</p>
					<p>Type:
						{{ figure.type.title }}</p>
					<p>Auteur:
						{{ figure.user.firstName }}</p>
				</li>
		</ul>
		<section class="figures"></section>
	</div>

	<div>
		<h1>Section Message</h1>
		{% if messages %}
			<ul>
				{% for message in messages %}
					{% if user.id == message.user.id %}
						<h2><a href="/figures/{{ figure.id }}/{{ figure.slug }}/message/{{ message.id }}/delete">Supprimer le message</a></h2>
					{% endif %}
					<p>Nom : {{ message.user.fullname }} </p>
					<p>Contenu : {{ message.content }} </p>
					<p>Date : {{ message.createdAt }} </p>
				{% endfor %}
			</ul>
		{% endif %}
	</div>

	{% if app.user %}
		{{ include('partials/_new_edit_message.html.twig') }}
	{% endif %}

{% endblock %}
