{% extends 'base.html.twig' %}

{% block title %}Renouvellement de mot de passe{% endblock %}

{% block body %}
	<div class="content-container">

    {% for flashError in app.flashes('reset_password_error') %}
      <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1 class="mg-top-xl mg-bottom-xl">Renouvellez votre mot de passe</h1>
    <div class="form-container">
      {{ form_start(requestForm) }}
        <div class="row">
          {{ form_label(requestForm.email, 'Email') }}
        </div>
        <div class="row">
          {{ form_widget(requestForm.email, {'attr': {'placeholder': 'Email', 'class': 'form-control'}}) }}
        </div>

        <div>
          <p class="font-size--small">
            Entrez votre adresse email et nous vous enverrons
            un lien pour renouvellez votre mot de passe.
          </p>
        </div>

        <div class="row mg-top-l">
          <button class="btn green-success">Envoyez lien de renouvellement de mot de passe</button>
        </div>
      {{ form_end(requestForm) }}
    </div>
  </div>
{% endblock %}
