{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
<div class="content-container text-left">
  <h1 class="mg-bottom-l">Mon Profil</h1>
  <div class="header-profil">
    <div class="profil_picture mg-right-xl" style="background-image: url('{{ user.photo }}')"></div>
    <div class="profil-informations">
      <p><a href="/profil/edit">Editer mon profil</a></p>
      <p class="mg-bottom-l"><a href="/reset-password">Modifier mon mot de passe</a></p>
      <h3>Username : <span>{{ user.username }}</span></h3>
      <h3>Nom : <span>{{ user.lastname }}</span></h3>
      <h3>Prénom : <span>{{ user.firstname }}</span></h3>
      <h3>Email : <span>{{ user.email }}</span></h3>
    </div>
  </div>
</div>
{% endblock %}


